.section:nth-child(even) {
	background: lightblue;
}

.section:nth-child(odd) {
	background: #FFF;
}

h2, h3 {
	color: #153E7E;
}

.table-bordered,
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
	border: 1px solid black;
}